.dice-container {
    // background-image: url("/images/img-noise-361x370.png");
    // background-repeat: repeat;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    // padding-top: $sm-u;
    // border-top: 2px solid lighten($gray, 15%);
}

@media only screen and (min-width: 768px) {
    .dice-container {
        // padding-top: $xl-u;
    }
}

.die {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.die__result {
    color: white;
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    pointer-events: none;
    letter-spacing: 1.8px;
    font-size: 17px;
    font-weight: 800;
}

.die__icon {
    // width: 50%;
    // height: 50%;
    width: 120px;
}

.die__result--hide {
    display: none;
}

.die--shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-iteration-count: infinite;
}

.die--shake-resolve {
    animation: shake-resolve 0.50s cubic-bezier(.20,.07,.19,.60) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.die--disabled {
  opacity: 0.5;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 4px, 0);
  }

  40%, 60% {
    transform: translate3d(5px, -4px, 0);
  }
}

@keyframes shake-resolve {
  10%, 90% {
    transform: translate3d(3px, -3px, 0);
  }
  
  20%, 80% {
    transform: translate3d(-3px, 4px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(2px, 3px, 0);
  }

  40%, 60% {
    transform: translate3d(-1px, -1px, 0);
  }
}